:root{
    --primary-dark-blue: hsl(243, 87%, 12%);
    --primary-desatured-blue: hsl(239, 22%, 44%);
    --accent-bright-blue:hsl(224, 93%, 58%);
    --accent-moderate-cyan:hsl(170, 45%, 43%);
    --neutral-light-grayish:hsl(240, 75%, 98%);
    --neutral-light-gray:hsl(0, 0%, 75%);
    --font-headings-call-to-actions-header-navigation:'Raleway', sans-serif;
    --font-body:'Open Sans', sans-serif;
    --width-images: 80%;
    --width-logo-header:138px;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: var(--font-body);
    text-align: center;
    color: var(--primary-dark-blue);
}

.main__h1{
    font-family: var(--font-headings-call-to-actions-header-navigation);
    font-size: 1.5em;
    margin: 1rem;
    font-weight: 700;
    line-height: 2rem;
}

.main__h2{
    font-family: var(--font-headings-call-to-actions-header-navigation);
    font-size: 1.2em;
    margin: 1rem;
    font-weight: 700;
    line-height: 2rem;
}

.main__figure-img{
    width: var(--width-images);
}

#main__form{
    background-color: var(--primary-desatured-blue);
    color: var(--neutral-light-grayish);
}

#footer{
    color: var(--neutral-light-grayish);
    background-color: var(--primary-dark-blue);
}

