@import 'base';

@mixin form {
    display: flex;
    flex-direction: column;
    align-items: center;
    input[type=submit],[type=email]{
        width: 100%;
        max-width: 315px;
        margin: .5rem;
        padding: .8rem;
        border-radius: 4px;
    }
    input[type=email]::placeholder{
        font-size: 14px;
    }
    input[type=email]{
        border: .5px solid;
    }

    input[type=submit]{
        background-color: var(--accent-bright-blue);
        color: var(--neutral-light-grayish);
        border: none;
        box-shadow: 0px 2px 5px 0px rgba(48,101,248,1);
        cursor: pointer;
    }
    input[type=submit]:hover{
        transition: .5s;
        opacity: .8;
    }
}

@mixin testimonial-card {
    padding: 2rem 1rem 1rem 1rem;
    margin: 4rem;
    border-radius: 10px;
    width: 85%;
    max-width: 460px;
    /* In this i learned about shorthand properties in css */
    background: url(/images/icon-quotes.svg) #fff no-repeat 24px 18px/20px; //This line is equal to...
    /*background-position: top center;
    background-repeat: no-repeat;                         All this! 
    background-size: 20px;
    background-position: 24px 18px; 
    */
    .main__p{
        text-align: left;
        font-size: 12px;
        padding: .5rem;
        margin: 0;
    }
    .main__user{
        display: flex;
        padding: .5rem;
        .main__user-name{
            text-align: left;
            letter-spacing: 1px;
            margin-bottom: .3rem;
            font: 800 normal 14px var(--font-headings-call-to-actions-header-navigation);
        }
        .main__user-founder{
            font-style: normal;
            font-size: 12px;
        }
        .main__user-figure{
            margin-right: .5rem;
            .main__user-figure-img{
                width: 36px;
                border-radius: 100%;
            }
        }
    }
}