@import 'base';
@import 'components';

/*-------------- H E A D E R ---------------- */

#header{
    .header__nav{
        display: flex;
        justify-content: space-between;
        margin: var(--header-margin);
        .header__figure{
            width: 100%;
            max-width: var(--width-logo-header);
            text-align: initial;
            .header__figure-img{
                width: 65%;
            }
        }
        .header__ul{
            display: flex;
            text-decoration: none;
            list-style: none;
            align-items: center;
            li{
                margin: 0rem .5rem;
                cursor: pointer;
                color: var(--primary-dark-blue);
            }
            li:hover{
                transition: .5s;
                opacity: .8;
            }
        }
    }
}

/*-------------- M A I N ---------------- */

#main{
    margin-top:6.5rem;
    .main__p{
        margin: 1rem;
        line-height: 1.5rem;
    }
    .main__form{
        @include form
    }
    .main__articletwocolums{
        display: grid;
        margin: 6.5rem 0rem;
    }
    .main__sectionTwocolums::before{
    content: "";
    background: url(/images/bg-curve-mobile.svg) top center/210% no-repeat;
    position: relative;
    top: -8vh;
    left: 0%;
    display: block;
    width: 100vw;
    height: 8vh;
    }

    .main__sectionTwocolums{
        //background-color: var(--neutral-light-grayish);
        background-color: var(--neutral-light-grayish); 
    .main__oneBlock{
        display: flex;
        flex-direction: column;
        align-items: center;
        //var(--neutral-light-grayish);
        .main__oneBlock-article{
            display: flex;
            flex-direction: column;
            align-items: center;
            .main__p{
                text-align: left;
            }
        }
        .main__seeHow{
            display: flex;
            flex-direction: row-reverse;
            justify-content: center;
            margin: 1rem;
            color:#3DA08F;
            border-bottom: 1px solid #3DA08F;
            width: fit-content;
            .main__seeHow-figure{
                margin: .1rem .2rem;
            }
        }
        /* <----------- C A R D - S T Y L E -----------> */ 
        .main__testimonial{
            @include testimonial-card // Go to components file to see it 
        }
    }
}
        #main__form{
            padding: 4rem 1.2rem;
            .main__h2{
                margin-top: 0;
            }
        }
}
/*-------------- F O O T E R ---------------- */
#footer{
    text-align: left;
    padding: 4rem 2rem;
    .footer__figure{
        margin-bottom: 1rem;
    }
    .footer__address{
        display: flex;
        flex-direction: column-reverse;
        .footer__address-container{
            address{
                font-style: normal;
            }
            display: flex;
            margin: 1rem 0rem;
            .footer__address-figure{
                .footer__address-figure-img{
                    margin: 0 1rem 0 0;
                }
            }
        }
    }
    .footer__about{
    display: flex;
    flex-direction: column;
    .footer__about-container{
    display: flex;
    flex-direction: column;
    margin: 1rem 0;
    span{
        margin:.8rem 0;
        cursor: pointer;
    }
    }
    .footer__about-icons{
        text-align: center;
        margin-top: 2rem;
        i{
            padding: .6rem;
            margin: 0 .5rem;
            border: 1px solid white;
            border-radius: 100%;
            cursor:pointer;
        }
    }
}
}

@media screen and (min-width:768px){
    #main{
        .main__articletwocolums{
            display: grid;
            grid-template-columns: 2% 48% 48% 2%;
            grid-template-areas: '. tex img .';
            margin: 6.5rem 0rem;
            place-items: center;
            .main__figure{
                grid-area: img;
            }
            .main__textZone{
                grid-area: tex;
                text-align: left;
                .main__form{
                    align-items: end;
                }
            }
        }
        .main__sectionTwocolums{
            display: grid;
            grid-template-columns: 2% 48% 48% 2%;
            grid-template-areas:
            '. tex img .';
            place-content: center;
            .main__figure{
                grid-area: img;
            }
            .main__oneBlock{
                grid-area: tex;
                text-align: left;
                .main__oneBlock-article{
                    align-items: unset;
                }
            }
        }
    }
}

@media screen and (min-width:1024px){
    #main{
        .main__articletwocolums{
            .main__textZone{
                .main__p{
                    margin: 1rem 6rem 1rem 1rem;
                }
                .main__h1{
                    font-size: 2.5em;
                    margin: 1rem;
                    font-weight: 700;
                    line-height: 3rem;
                }
                .main__form{
                    flex-direction: row;
                    input[type=email]{
                        max-width: 384px;
                    }
                    input[type=submit]{
                        max-width: 200px;
                    }
                    }
                }
            }
        }
    }
