:root {
  --primary-dark-blue: hsl(243, 87%, 12%);
  --primary-desatured-blue: hsl(238, 22%, 44%);
  --accent-bright-blue:hsl(224, 93%, 58%);
  --accent-moderate-cyan:hsl(170, 45%, 43%);
  --neutral-light-grayish:hsl(240, 75%, 98%);
  --neutral-light-gray:hsl(0, 0%, 75%);
  --font-headings-call-to-actions-header-navigation:'Raleway', sans-serif;
  --font-body:'Open Sans', sans-serif;
  --width-images: 75%;
  --width-logo-header:138px;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: var(--font-body);
  text-align: center;
  color: var(--primary-dark-blue);
}

h1 {
  font-family: var(--font-headings-call-to-actions-header-navigation);
}

h2 {
  font-family: var(--font-headings-call-to-actions-header-navigation);
}

.main__figure-img {
  width: var(--width-images);
}

#main__form {
  background-color: var(--primary-desatured-blue);
  color: var(--neutral-light-grayish);
}

#footer {
  color: var(--neutral-light-grayish);
  background-color: var(--primary-dark-blue);
}

:root {
  --primary-dark-blue: hsl(243, 87%, 12%);
  --primary-desatured-blue: hsl(238, 22%, 44%);
  --accent-bright-blue:hsl(224, 93%, 58%);
  --accent-moderate-cyan:hsl(170, 45%, 43%);
  --neutral-light-grayish:hsl(240, 75%, 98%);
  --neutral-light-gray:hsl(0, 0%, 75%);
  --font-headings-call-to-actions-header-navigation:'Raleway', sans-serif;
  --font-body:'Open Sans', sans-serif;
  --width-images: 75%;
  --width-logo-header:138px;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: var(--font-body);
  text-align: center;
  color: var(--primary-dark-blue);
}

h1 {
  font-family: var(--font-headings-call-to-actions-header-navigation);
}

h2 {
  font-family: var(--font-headings-call-to-actions-header-navigation);
}

.main__figure-img {
  width: var(--width-images);
}

#main__form {
  background-color: var(--primary-desatured-blue);
  color: var(--neutral-light-grayish);
}

#footer {
  color: var(--neutral-light-grayish);
  background-color: var(--primary-dark-blue);
}

:root {
  --primary-dark-blue: hsl(243, 87%, 12%);
  --primary-desatured-blue: hsl(238, 22%, 44%);
  --accent-bright-blue:hsl(224, 93%, 58%);
  --accent-moderate-cyan:hsl(170, 45%, 43%);
  --neutral-light-grayish:hsl(240, 75%, 98%);
  --neutral-light-gray:hsl(0, 0%, 75%);
  --font-headings-call-to-actions-header-navigation:'Raleway', sans-serif;
  --font-body:'Open Sans', sans-serif;
  --width-images: 75%;
  --width-logo-header:138px;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: var(--font-body);
  text-align: center;
  color: var(--primary-dark-blue);
}

h1 {
  font-family: var(--font-headings-call-to-actions-header-navigation);
}

h2 {
  font-family: var(--font-headings-call-to-actions-header-navigation);
}

.main__figure-img {
  width: var(--width-images);
}

#main__form {
  background-color: var(--primary-desatured-blue);
  color: var(--neutral-light-grayish);
}

#footer {
  color: var(--neutral-light-grayish);
  background-color: var(--primary-dark-blue);
}

:root {
  --primary-dark-blue: hsl(243, 87%, 12%);
  --primary-desatured-blue: hsl(238, 22%, 44%);
  --accent-bright-blue:hsl(224, 93%, 58%);
  --accent-moderate-cyan:hsl(170, 45%, 43%);
  --neutral-light-grayish:hsl(240, 75%, 98%);
  --neutral-light-gray:hsl(0, 0%, 75%);
  --font-headings-call-to-actions-header-navigation:'Raleway', sans-serif;
  --font-body:'Open Sans', sans-serif;
  --width-images: 75%;
  --width-logo-header:138px;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: var(--font-body);
  text-align: center;
  color: var(--primary-dark-blue);
}

h1 {
  font-family: var(--font-headings-call-to-actions-header-navigation);
}

h2 {
  font-family: var(--font-headings-call-to-actions-header-navigation);
}

.main__figure-img {
  width: var(--width-images);
}

#main__form {
  background-color: var(--primary-desatured-blue);
  color: var(--neutral-light-grayish);
}

#footer {
  color: var(--neutral-light-grayish);
  background-color: var(--primary-dark-blue);
}

/*-------------- H E A D E R ---------------- */
#header .header__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 1.5rem 1rem;
}

#header .header__nav .header__figure {
  width: 100%;
  max-width: var(--width-logo-header);
  text-align: initial;
}

#header .header__nav .header__figure .header__figure-img {
  width: 65%;
}

#header .header__nav .header__ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-decoration: none;
  list-style: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#header .header__nav .header__ul li {
  margin: 0rem .5rem;
  cursor: pointer;
  color: var(--primary-dark-blue);
}
/*# sourceMappingURL=style.css.map */