:root {
  --primary-dark-blue: hsl(243, 87%, 12%);
  --primary-desatured-blue: hsl(238, 22%, 44%);
  --accent-bright-blue:hsl(224, 93%, 58%);
  --accent-moderate-cyan:hsl(170, 45%, 43%);
  --neutral-light-grayish:hsl(240, 75%, 98%);
  --neutral-light-gray:hsl(0, 0%, 75%);
  --font-headings-call-to-actions-header-navigation:'Raleway', sans-serif;
  --font-body:'Open Sans', sans-serif;
  --width-images: 80%;
  --width-logo-header:138px;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: var(--font-body);
  text-align: center;
  color: var(--primary-dark-blue);
}

.main__h1 {
  font-family: var(--font-headings-call-to-actions-header-navigation);
  font-size: 1.5em;
  margin: 1rem;
  font-weight: 700;
  line-height: 2rem;
}

.main__h2 {
  font-family: var(--font-headings-call-to-actions-header-navigation);
  font-size: 1.2em;
  margin: 1rem;
  font-weight: 700;
  line-height: 2rem;
}

.main__figure-img {
  width: var(--width-images);
}

#main__form {
  background-color: var(--primary-desatured-blue);
  color: var(--neutral-light-grayish);
}

#footer {
  color: var(--neutral-light-grayish);
  background-color: var(--primary-dark-blue);
}

:root {
  --primary-dark-blue: hsl(243, 87%, 12%);
  --primary-desatured-blue: hsl(238, 22%, 44%);
  --accent-bright-blue:hsl(224, 93%, 58%);
  --accent-moderate-cyan:hsl(170, 45%, 43%);
  --neutral-light-grayish:hsl(240, 75%, 98%);
  --neutral-light-gray:hsl(0, 0%, 75%);
  --font-headings-call-to-actions-header-navigation:'Raleway', sans-serif;
  --font-body:'Open Sans', sans-serif;
  --width-images: 80%;
  --width-logo-header:138px;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: var(--font-body);
  text-align: center;
  color: var(--primary-dark-blue);
}

.main__h1 {
  font-family: var(--font-headings-call-to-actions-header-navigation);
  font-size: 1.5em;
  margin: 1rem;
  font-weight: 700;
  line-height: 2rem;
}

.main__h2 {
  font-family: var(--font-headings-call-to-actions-header-navigation);
  font-size: 1.2em;
  margin: 1rem;
  font-weight: 700;
  line-height: 2rem;
}

.main__figure-img {
  width: var(--width-images);
}

#main__form {
  background-color: var(--primary-desatured-blue);
  color: var(--neutral-light-grayish);
}

#footer {
  color: var(--neutral-light-grayish);
  background-color: var(--primary-dark-blue);
}

:root {
  --primary-dark-blue: hsl(243, 87%, 12%);
  --primary-desatured-blue: hsl(238, 22%, 44%);
  --accent-bright-blue:hsl(224, 93%, 58%);
  --accent-moderate-cyan:hsl(170, 45%, 43%);
  --neutral-light-grayish:hsl(240, 75%, 98%);
  --neutral-light-gray:hsl(0, 0%, 75%);
  --font-headings-call-to-actions-header-navigation:'Raleway', sans-serif;
  --font-body:'Open Sans', sans-serif;
  --width-images: 80%;
  --width-logo-header:138px;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: var(--font-body);
  text-align: center;
  color: var(--primary-dark-blue);
}

.main__h1 {
  font-family: var(--font-headings-call-to-actions-header-navigation);
  font-size: 1.5em;
  margin: 1rem;
  font-weight: 700;
  line-height: 2rem;
}

.main__h2 {
  font-family: var(--font-headings-call-to-actions-header-navigation);
  font-size: 1.2em;
  margin: 1rem;
  font-weight: 700;
  line-height: 2rem;
}

.main__figure-img {
  width: var(--width-images);
}

#main__form {
  background-color: var(--primary-desatured-blue);
  color: var(--neutral-light-grayish);
}

#footer {
  color: var(--neutral-light-grayish);
  background-color: var(--primary-dark-blue);
}

:root {
  --primary-dark-blue: hsl(243, 87%, 12%);
  --primary-desatured-blue: hsl(238, 22%, 44%);
  --accent-bright-blue:hsl(224, 93%, 58%);
  --accent-moderate-cyan:hsl(170, 45%, 43%);
  --neutral-light-grayish:hsl(240, 75%, 98%);
  --neutral-light-gray:hsl(0, 0%, 75%);
  --font-headings-call-to-actions-header-navigation:'Raleway', sans-serif;
  --font-body:'Open Sans', sans-serif;
  --width-images: 80%;
  --width-logo-header:138px;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: var(--font-body);
  text-align: center;
  color: var(--primary-dark-blue);
}

.main__h1 {
  font-family: var(--font-headings-call-to-actions-header-navigation);
  font-size: 1.5em;
  margin: 1rem;
  font-weight: 700;
  line-height: 2rem;
}

.main__h2 {
  font-family: var(--font-headings-call-to-actions-header-navigation);
  font-size: 1.2em;
  margin: 1rem;
  font-weight: 700;
  line-height: 2rem;
}

.main__figure-img {
  width: var(--width-images);
}

#main__form {
  background-color: var(--primary-desatured-blue);
  color: var(--neutral-light-grayish);
}

#footer {
  color: var(--neutral-light-grayish);
  background-color: var(--primary-dark-blue);
}

/*-------------- H E A D E R ---------------- */
#header .header__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 1.5rem 1rem;
}

#header .header__nav .header__figure {
  width: 100%;
  max-width: var(--width-logo-header);
  text-align: initial;
}

#header .header__nav .header__figure .header__figure-img {
  width: 65%;
}

#header .header__nav .header__ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-decoration: none;
  list-style: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#header .header__nav .header__ul li {
  margin: 0rem .5rem;
  cursor: pointer;
  color: var(--primary-dark-blue);
}

#header .header__nav .header__ul li:hover {
  -webkit-transition: .5s;
  transition: .5s;
  opacity: .8;
}

/*-------------- M A I N ---------------- */
#main {
  margin-top: 6.5rem;
}

#main .main__p {
  margin: 1rem;
  line-height: 1.5rem;
}

#main .main__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#main .main__form input[type=submit], #main .main__form [type=email] {
  width: 100%;
  max-width: 315px;
  margin: .5rem;
  padding: .8rem;
  border-radius: 4px;
}

#main .main__form input[type=email]::-webkit-input-placeholder {
  font-size: 14px;
}

#main .main__form input[type=email]:-ms-input-placeholder {
  font-size: 14px;
}

#main .main__form input[type=email]::-ms-input-placeholder {
  font-size: 14px;
}

#main .main__form input[type=email]::placeholder {
  font-size: 14px;
}

#main .main__form input[type=email] {
  border: .5px solid;
}

#main .main__form input[type=submit] {
  background-color: var(--accent-bright-blue);
  color: var(--neutral-light-grayish);
  border: none;
  -webkit-box-shadow: 0px 2px 5px 0px #3065f8;
          box-shadow: 0px 2px 5px 0px #3065f8;
  cursor: pointer;
}

#main .main__form input[type=submit]:hover {
  -webkit-transition: .5s;
  transition: .5s;
  opacity: .8;
}

#main .main__articletwocolums {
  display: -ms-grid;
  display: grid;
  margin: 6.5rem 0rem;
}

#main .main__sectionTwocolums {
  background-image: url(/images/bg-curve-mobile.svg);
  background-repeat: no-repeat;
  background-size: contain;
  padding-top: 14%;
}

#main .main__sectionTwocolums .main__figure {
  background-color: var(--neutral-light-grayish);
}

#main .main__sectionTwocolums .main__oneBlock {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: var(--neutral-light-grayish);
  /* <----------- C A R D - S T Y L E -----------> */
}

#main .main__sectionTwocolums .main__oneBlock .main__oneBlock-article {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#main .main__sectionTwocolums .main__oneBlock .main__oneBlock-article .main__p {
  text-align: left;
}

#main .main__sectionTwocolums .main__oneBlock .main__seeHow {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 1rem;
  color: #3DA08F;
  border-bottom: 1px solid #3DA08F;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

#main .main__sectionTwocolums .main__oneBlock .main__seeHow .main__seeHow-figure {
  margin: .1rem .2rem;
}

#main .main__sectionTwocolums .main__oneBlock .main__testimonial {
  background-color: white;
  padding: 2rem 1rem 1rem 1rem;
  margin: 2rem;
  border-radius: 10px;
  width: 85%;
  max-width: 460px;
  background-image: url(/images/icon-quotes.svg);
  background-position: top center;
  background-repeat: no-repeat;
  background-size: 20px;
  background-position: 24px 18px;
}

#main .main__sectionTwocolums .main__oneBlock .main__testimonial .main__p {
  text-align: left;
  font-size: 12px;
  padding: .5rem;
  margin: 0;
}

#main .main__sectionTwocolums .main__oneBlock .main__testimonial .main__user {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: .5rem;
}

#main .main__sectionTwocolums .main__oneBlock .main__testimonial .main__user .main__user-name {
  text-align: left;
  margin-bottom: .3rem;
  font-weight: 800;
  font-style: normal;
  letter-spacing: 1px;
  font-size: 14px;
  font-family: var(--font-headings-call-to-actions-header-navigation);
}

#main .main__sectionTwocolums .main__oneBlock .main__testimonial .main__user .main__user-founder {
  font-style: normal;
  font-size: 12px;
}

#main .main__sectionTwocolums .main__oneBlock .main__testimonial .main__user .main__user-figure {
  margin-right: .5rem;
}

#main .main__sectionTwocolums .main__oneBlock .main__testimonial .main__user .main__user-figure .main__user-figure-img {
  width: 36px;
  border-radius: 100%;
}
/*# sourceMappingURL=style.css.map */