:root {
  --primary-dark-blue: hsl(243, 87%, 12%);
  --primary-desatured-blue: hsl(239, 22%, 44%);
  --accent-bright-blue:hsl(224, 93%, 58%);
  --accent-moderate-cyan:hsl(170, 45%, 43%);
  --neutral-light-grayish:hsl(240, 75%, 98%);
  --neutral-light-gray:hsl(0, 0%, 75%);
  --font-headings-call-to-actions-header-navigation:'Raleway', sans-serif;
  --font-body:'Open Sans', sans-serif;
  --width-images: 70%;
  --width-logo-header:138px;
  --header-margin:1.5rem 1rem;
}

@media screen and (min-width: 768px) {
  :root {
    --width-images:100%;
    --width-logo-header:200px;
    --header-margin:2.5rem 2rem;
  }
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: var(--font-body);
  text-align: center;
  color: var(--primary-dark-blue);
}

.main__h1 {
  font-family: var(--font-headings-call-to-actions-header-navigation);
  font-size: 1.5em;
  margin: 1rem;
  font-weight: 700;
  line-height: 2rem;
}

.main__h2 {
  font-family: var(--font-headings-call-to-actions-header-navigation);
  font-size: 1.2em;
  margin: 1rem;
  font-weight: 700;
  line-height: 2rem;
}

.main__figure-img {
  width: var(--width-images);
}

#main__form {
  background-color: var(--primary-desatured-blue);
  color: var(--neutral-light-grayish);
}

#footer {
  color: var(--neutral-light-grayish);
  background-color: var(--primary-dark-blue);
}

:root {
  --primary-dark-blue: hsl(243, 87%, 12%);
  --primary-desatured-blue: hsl(239, 22%, 44%);
  --accent-bright-blue:hsl(224, 93%, 58%);
  --accent-moderate-cyan:hsl(170, 45%, 43%);
  --neutral-light-grayish:hsl(240, 75%, 98%);
  --neutral-light-gray:hsl(0, 0%, 75%);
  --font-headings-call-to-actions-header-navigation:'Raleway', sans-serif;
  --font-body:'Open Sans', sans-serif;
  --width-images: 70%;
  --width-logo-header:138px;
  --header-margin:1.5rem 1rem;
}

@media screen and (min-width: 768px) {
  :root {
    --width-images:100%;
    --width-logo-header:200px;
    --header-margin:2.5rem 2rem;
  }
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: var(--font-body);
  text-align: center;
  color: var(--primary-dark-blue);
}

.main__h1 {
  font-family: var(--font-headings-call-to-actions-header-navigation);
  font-size: 1.5em;
  margin: 1rem;
  font-weight: 700;
  line-height: 2rem;
}

.main__h2 {
  font-family: var(--font-headings-call-to-actions-header-navigation);
  font-size: 1.2em;
  margin: 1rem;
  font-weight: 700;
  line-height: 2rem;
}

.main__figure-img {
  width: var(--width-images);
}

#main__form {
  background-color: var(--primary-desatured-blue);
  color: var(--neutral-light-grayish);
}

#footer {
  color: var(--neutral-light-grayish);
  background-color: var(--primary-dark-blue);
}

:root {
  --primary-dark-blue: hsl(243, 87%, 12%);
  --primary-desatured-blue: hsl(239, 22%, 44%);
  --accent-bright-blue:hsl(224, 93%, 58%);
  --accent-moderate-cyan:hsl(170, 45%, 43%);
  --neutral-light-grayish:hsl(240, 75%, 98%);
  --neutral-light-gray:hsl(0, 0%, 75%);
  --font-headings-call-to-actions-header-navigation:'Raleway', sans-serif;
  --font-body:'Open Sans', sans-serif;
  --width-images: 70%;
  --width-logo-header:138px;
  --header-margin:1.5rem 1rem;
}

@media screen and (min-width: 768px) {
  :root {
    --width-images:100%;
    --width-logo-header:200px;
    --header-margin:2.5rem 2rem;
  }
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: var(--font-body);
  text-align: center;
  color: var(--primary-dark-blue);
}

.main__h1 {
  font-family: var(--font-headings-call-to-actions-header-navigation);
  font-size: 1.5em;
  margin: 1rem;
  font-weight: 700;
  line-height: 2rem;
}

.main__h2 {
  font-family: var(--font-headings-call-to-actions-header-navigation);
  font-size: 1.2em;
  margin: 1rem;
  font-weight: 700;
  line-height: 2rem;
}

.main__figure-img {
  width: var(--width-images);
}

#main__form {
  background-color: var(--primary-desatured-blue);
  color: var(--neutral-light-grayish);
}

#footer {
  color: var(--neutral-light-grayish);
  background-color: var(--primary-dark-blue);
}

:root {
  --primary-dark-blue: hsl(243, 87%, 12%);
  --primary-desatured-blue: hsl(239, 22%, 44%);
  --accent-bright-blue:hsl(224, 93%, 58%);
  --accent-moderate-cyan:hsl(170, 45%, 43%);
  --neutral-light-grayish:hsl(240, 75%, 98%);
  --neutral-light-gray:hsl(0, 0%, 75%);
  --font-headings-call-to-actions-header-navigation:'Raleway', sans-serif;
  --font-body:'Open Sans', sans-serif;
  --width-images: 70%;
  --width-logo-header:138px;
  --header-margin:1.5rem 1rem;
}

@media screen and (min-width: 768px) {
  :root {
    --width-images:100%;
    --width-logo-header:200px;
    --header-margin:2.5rem 2rem;
  }
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: var(--font-body);
  text-align: center;
  color: var(--primary-dark-blue);
}

.main__h1 {
  font-family: var(--font-headings-call-to-actions-header-navigation);
  font-size: 1.5em;
  margin: 1rem;
  font-weight: 700;
  line-height: 2rem;
}

.main__h2 {
  font-family: var(--font-headings-call-to-actions-header-navigation);
  font-size: 1.2em;
  margin: 1rem;
  font-weight: 700;
  line-height: 2rem;
}

.main__figure-img {
  width: var(--width-images);
}

#main__form {
  background-color: var(--primary-desatured-blue);
  color: var(--neutral-light-grayish);
}

#footer {
  color: var(--neutral-light-grayish);
  background-color: var(--primary-dark-blue);
}

/*-------------- H E A D E R ---------------- */
#header .header__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: var(--header-margin);
}

#header .header__nav .header__figure {
  width: 100%;
  max-width: var(--width-logo-header);
  text-align: initial;
}

#header .header__nav .header__figure .header__figure-img {
  width: 65%;
}

#header .header__nav .header__ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-decoration: none;
  list-style: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#header .header__nav .header__ul li {
  margin: 0rem .5rem;
  cursor: pointer;
  color: var(--primary-dark-blue);
}

#header .header__nav .header__ul li:hover {
  -webkit-transition: .5s;
  transition: .5s;
  opacity: .8;
}

/*-------------- M A I N ---------------- */
#main {
  margin-top: 6.5rem;
}

#main .main__p {
  margin: 1rem;
  line-height: 1.5rem;
}

#main .main__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#main .main__form input[type=submit], #main .main__form [type=email] {
  width: 100%;
  max-width: 315px;
  margin: .5rem;
  padding: .8rem;
  border-radius: 4px;
}

#main .main__form input[type=email]::-webkit-input-placeholder {
  font-size: 14px;
}

#main .main__form input[type=email]:-ms-input-placeholder {
  font-size: 14px;
}

#main .main__form input[type=email]::-ms-input-placeholder {
  font-size: 14px;
}

#main .main__form input[type=email]::placeholder {
  font-size: 14px;
}

#main .main__form input[type=email] {
  border: .5px solid;
}

#main .main__form input[type=submit] {
  background-color: var(--accent-bright-blue);
  color: var(--neutral-light-grayish);
  border: none;
  -webkit-box-shadow: 0px 2px 5px 0px #3065f8;
          box-shadow: 0px 2px 5px 0px #3065f8;
  cursor: pointer;
}

#main .main__form input[type=submit]:hover {
  -webkit-transition: .5s;
  transition: .5s;
  opacity: .8;
}

#main .main__articletwocolums {
  display: -ms-grid;
  display: grid;
  margin: 6.5rem 0rem;
}

#main .main__sectionTwocolums::before {
  content: "";
  background: url(/images/bg-curve-mobile.svg) top center/210% no-repeat;
  position: relative;
  top: -8vh;
  left: 0%;
  display: block;
  width: auto;
  height: 8vh;
}

#main .main__sectionTwocolums {
  background-color: var(--neutral-light-grayish);
}

#main .main__sectionTwocolums .main__oneBlock {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  /* <----------- C A R D - S T Y L E -----------> */
}

#main .main__sectionTwocolums .main__oneBlock .main__oneBlock-article {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#main .main__sectionTwocolums .main__oneBlock .main__oneBlock-article .main__p {
  text-align: left;
}

#main .main__sectionTwocolums .main__oneBlock .main__seeHow {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 1rem;
  color: #3DA08F;
  border-bottom: 1px solid #3DA08F;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

#main .main__sectionTwocolums .main__oneBlock .main__seeHow .main__seeHow-figure {
  margin: .1rem .2rem;
}

#main .main__sectionTwocolums .main__oneBlock .main__testimonial {
  padding: 2rem 1rem 1rem 1rem;
  margin: 4rem;
  border-radius: 10px;
  width: 85%;
  max-width: 305px;
  /* In this i learned about shorthand properties in css */
  background: url(/images/icon-quotes.svg) #fff no-repeat 24px 18px/20px;
  /*background-position: top center;
    background-repeat: no-repeat;                         All this! 
    background-size: 20px;
    background-position: 24px 18px; 
    */
}

#main .main__sectionTwocolums .main__oneBlock .main__testimonial .main__p {
  text-align: left;
  font-size: 12px;
  padding: .5rem;
  margin: 0;
}

#main .main__sectionTwocolums .main__oneBlock .main__testimonial .main__user {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: .5rem;
}

#main .main__sectionTwocolums .main__oneBlock .main__testimonial .main__user .main__user-name {
  text-align: left;
  letter-spacing: 1px;
  margin-bottom: .3rem;
  font: 800 normal 14px var(--font-headings-call-to-actions-header-navigation);
}

#main .main__sectionTwocolums .main__oneBlock .main__testimonial .main__user .main__user-founder {
  font-style: normal;
  font-size: 12px;
}

#main .main__sectionTwocolums .main__oneBlock .main__testimonial .main__user .main__user-figure {
  margin-right: .5rem;
}

#main .main__sectionTwocolums .main__oneBlock .main__testimonial .main__user .main__user-figure .main__user-figure-img {
  width: 36px;
  border-radius: 100%;
}

#main #main__form {
  padding: 4rem 1.2rem;
}

#main #main__form .main__h2 {
  margin-top: 0;
}

/*-------------- F O O T E R ---------------- */
#footer {
  text-align: left;
  padding: 4rem 2rem;
}

#footer .footer__figure {
  margin-bottom: 1rem;
}

#footer .footer__address {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
}

#footer .footer__address .footer__address-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 1rem 0rem;
}

#footer .footer__address .footer__address-container address {
  font-style: normal;
}

#footer .footer__address .footer__address-container .footer__address-figure .footer__address-figure-img {
  margin: 0 1rem 0 0;
}

#footer .footer__about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#footer .footer__about .footer__about-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 1rem 0;
}

#footer .footer__about .footer__about-container span {
  margin: .8rem 0;
  cursor: pointer;
}

#footer .footer__icons {
  text-align: center;
  margin-top: 2rem;
}

#footer .footer__icons i {
  padding: .6rem;
  margin: 0 .5rem;
  border: 1px solid white;
  border-radius: 100%;
  cursor: pointer;
}

@media screen and (min-width: 768px) {
  #main .main__sectionTwocolums::before {
    background: none;
  }
  #main .main__articletwocolums {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 2% 48% 48% 2%;
        grid-template-columns: 2% 48% 48% 2%;
        grid-template-areas: '. tex img .';
    margin: 6.5rem 0rem;
    place-items: center;
  }
  #main .main__articletwocolums .main__figure {
    -ms-grid-row: 1;
    -ms-grid-column: 3;
    grid-area: img;
  }
  #main .main__articletwocolums .main__textZone {
    -ms-grid-row: 1;
    -ms-grid-column: 2;
    grid-area: tex;
    text-align: left;
  }
  #main .main__articletwocolums .main__textZone .main__form {
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: end;
  }
  #main .main__sectionTwocolums {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 2% 48% 48% 2%;
        grid-template-columns: 2% 48% 48% 2%;
        grid-template-areas: '. tex img .';
    place-content: center;
    padding-top: 8rem;
    -webkit-clip-path: ellipse(100% 91% at 49% 91%);
            clip-path: ellipse(100% 91% at 49% 91%);
  }
  #main .main__sectionTwocolums .main__figure {
    -ms-grid-row: 1;
    -ms-grid-column: 3;
    grid-area: img;
  }
  #main .main__sectionTwocolums .main__oneBlock {
    -ms-grid-row: 1;
    -ms-grid-column: 2;
    grid-area: tex;
    text-align: left;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
  }
  #main .main__sectionTwocolums .main__oneBlock .main__testimonial {
    margin: 4rem 1rem;
  }
  #main .main__sectionTwocolums .main__oneBlock .main__oneBlock-article {
    -webkit-box-align: unset;
        -ms-flex-align: unset;
            align-items: unset;
  }
  #main__form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: left;
  }
  #main__form .main__textZone {
    width: 59%;
    max-width: 537px;
  }
  #main__form .main__textZone .main__h2 {
    margin: 1rem 0;
  }
  #main__form .main__textZone .main__p {
    margin: 1rem 0;
  }
  #main__form .main__form {
    width: 35%;
  }
  #main__form .main__form {
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: end;
  }
  #main__form .main__form input[type=email] {
    max-width: 500px;
  }
  #main__form .main__form input[type=submit] {
    max-width: 190px;
  }
  #footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: end;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  #footer .footer__about {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    width: 67%;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
    margin-top: 3rem;
  }
  #footer .footer__icons {
    margin: 0;
  }
}

@media screen and (min-width: 1024px) {
  #main .main__articletwocolums .main__textZone .main__p {
    margin: 1rem 6rem 1rem 1rem;
  }
  #main .main__articletwocolums .main__textZone .main__h1 {
    font-size: 2.5em;
    margin: 1rem;
    font-weight: 700;
    line-height: 3rem;
  }
  #main .main__articletwocolums .main__textZone .main__form {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  #main .main__articletwocolums .main__textZone .main__form input[type=email] {
    max-width: 384px;
  }
  #main .main__articletwocolums .main__textZone .main__form input[type=submit] {
    max-width: 200px;
  }
  #main .main__h2 {
    font-size: 2rem;
  }
}
/*# sourceMappingURL=style.css.map */